*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
main,
nav {
  display: block;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  height: 100%;
  background-color: #fff;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul ul {
  margin-bottom: 0;
}
b,
strong {
  font-weight: bolder;
}
a {
  text-decoration: none;
  background-color: transparent;
}


table {
  border-collapse: collapse;
}
th {
  text-align: inherit;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
button {
  border-radius: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
button,
input,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button {
  text-transform: none;
}
.h1,
h1 {
  font-size: 2.5rem;
}
.h2,
h2 {
  font-size: 1.rem;
}
.h3,
h3 {
  font-size: 1.75rem;
}
.h4,
h4 {
  font-size: 1.5rem;
}
.h5,
h5 {
  font-size: 1.25rem;
}
.h6,
h6 {
  font-size: 1rem;
}

.container {
  width: 80%; /* You can adjust this value to your preference */
  max-width: 900px; /* Set a maximum width to prevent it from getting too wide on larger screens */
  margin: 0 auto; /* Center the container */
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table .thead-light th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}
.nav-link:focus,
.nav-link:hover {
  text-decoration: none;
}
.tab-content > .active {
  display: block;
}
.navbar {
  margin-bottom: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.navbar > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.navbar-brand:focus,
.navbar-brand:hover {
  text-decoration: none;
}
.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}


.navbar-expand {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.navbar-expand > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-expand .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.navbar-expand .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.navbar-expand > .container {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.navbar-expand .navbar-collapse {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.navbar-expand .navbar-toggler {
  display: none;
}
.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: rgba(0, 0, 0, 0.9);
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}
.navbar-light .navbar-text {
  color: rgba(0, 0, 0, 0.5);
}
.navbar-light .navbar-text a {
  color: rgba(0, 0, 0, 0.9);
}

.border {
  border: 1px solid #dee2e6 !important;
}

.ml-auto {
  margin-left: auto !important;
}

body {
  font-family: Poppins, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  background: #fafafa;
  color: gray;
}
a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #fec771;
}
a:focus,
a:hover {
  text-decoration: none !important;
  outline: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5 {
  color:#333333;
}
.ftco-navbar2-light {
  font-size: 1rem;
  display: block;
  background: #1c2938 !important;
}


.ftco-navbar2-light .navbar-nav > .nav-item > .nav-link {
  color: #e6e6e6;
  font-size:16px;
  padding: 0px 14px;
}

.notes {
  display: none;
}
.notes.active {
  display: block;
}
.nav-active {
  color: #fec771 !important;
}
.notes {
  display: none;
}
.notes.active {
  display: block;
}
.notes-class {
  margin-top: 10px;
}
.left-menu {
  width: 170px !important;
  background-color: #f1f1f1;
  border-radius: 10px;
}
#timer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 24px;
  color: red;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
}
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
#gotItButton {
  background-color: #1c2938;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.question {
  margin-bottom: 0;
}
textarea {
  width: 100%;
  resize: vertical;
  padding: 10px;
  border-radius: 10px;
  border-color: 1px solid #fec771;
}
#mcq,
#results {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
#results h3 {
  margin-bottom: 10px;
}
#results div {
  margin-bottom: 20px;
}
#results div h4 {
  margin-bottom: 5px;
}
.submit-answer {
  border: 1px solid #1c2938;
  width: 170px;
  padding: 15px;
  background-color: #1c2938;
  color: #fff;
  border-radius: 10px;
}
.next {
  width: 170px;
  padding: 15px;
  background-color: #1c2938;
  color: #fff;
  border-radius: 10px;
}
#questions {
  background-color: #fff;
  padding: 20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
h1 {
  text-align: center;
}
.question {
  margin-bottom: 5px;
}
.options {
  margin-bottom: 10px;
}
.result {
  margin-top: 10px;
}
.left-menu {
  width: 200px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  cursor: pointer;
}
li.active {
  border-radius: 10px;
  background-color: #ccc;
}
.right-content {
  padding: 5px 20px;
  flex: 1;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
h1 {
  text-align: center;
}
.mcq-question-1 {
  margin-bottom: 10px;
}
.options label {
  display: block;
  margin-bottom: 5px;
}
.timer {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.result {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}
.result p {
  margin-bottom: 5px;
}
.right-content {
  flex-grow: 1;
  padding: 10px;
}
.custom-tab-content {
  display: none;
}
.custom-tab-content.active {
  display: block;
}
.table-border-css {
  border: 1px solid #d3d3d3;
}
table,
td,
th {
  border: 1px solid;
}
table {
  width: 100%;
  border-collapse: collapse;
}
td,
th {
  text-align: center;
}
.data-container {
  display: flex;
  flex-wrap: wrap;
}
.column1 {
  flex-basis: 33.33%;
  padding: 10px;
  box-sizing: border-box;
}

.navbar{
  border-radius: 10px;
}

nav {
  border-radius: 10px;
  background-color: #1C2938;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}


.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

.menu li.active2 a {
  color: #fec771;
}

.menu li a:hover {
  color: #f0f0f0;
}

.menu {
  float: right;
}

.horizontal-list {
  flex-direction: row; /* To display the list items horizontally */
  list-style: none; /* To remove the default list styles */
  padding: 0; /* To remove any default padding */
}


.centered {
    display: flex;
    justify-content: center; /* Center the list items horizontally */
    align-items: center; /* Center the list items vertically */
}
.tab{
  padding: 10px;
}
@media screen and (max-width: 642px) {
  .ftco-navbar2-light .navbar-nav > .nav-item > .nav-link {
    font-size:10px;
    padding: 0px 5px;
  }
  }